@import "../../scss/variables.scss";

.o-footer {
  padding: 64px 24px 24px;
  position: relative;
  background-color: $primaryTextColor;
  color: $primaryTextColorOnDark;
  &__form {
    padding: 46px 0px 37.5px;
  }
  &__terms {
    display: none;
  }
}

@media (min-width: 440px) {
  .o-footer {
    &__con {
      max-width: 410px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 768px) {
  .o-footer {
    &__con {
      display: grid;
      grid-template-columns: 1fr 350px;
      grid-template-rows: 47px 1fr 20px;
      max-width: 1110px;
    }
    &__links {
      padding: 40px 0px 80px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      grid-column: 1;
      grid-row: 2;
    }
    &__logo {
      grid-row: 1;
      grid-column: 1 / span 2;
    }
    &__form {
      padding: 46px 0px 37.5px;
      grid-column: 2;
      grid-row: 2;
    }
    &__terms {
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      text-align: right;
      grid-column: 1 / span 2;
    }
  }
}

@media (min-width: 1440px) {
  .o-footer {
    padding: 64px 24px 24px;
    &__con {
      width: 1110px;
    }
  }
} ;
