@import "../../scss/variables.scss";

.o-footer {
  padding: 64px 24px 24px;
  position: relative;
  background-color: $primaryTextColor;
  color: $primaryTextColorOnDark;
  &__form {
    padding: 46px 0px 37.5px;
  }
}
