@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.a-button {
  display: block;
  border: 0px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  background-color: $primaryColor;
  color: $primaryTextColor;
  font-family: $secondaryFont;
  padding: 16px 10px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  border-radius: $borderRadius;
  text-align: center;
}
a.a-button {
  text-decoration: none;
  text-align: center;
}
.a-buttonRoundWithIco {
  border-radius: 50%;
  height: 78px;
  width: 78px;
  background-color: $roundButtonColor;
  position: relative;
  span {
    @include centerAbsolute();
  }
}
