@import "../../scss/variables.scss";

.o-navbar {
  &__con {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 35px 24px;
  }
  &__menu {
    display: none;
  }
}

@media (min-width: 1440px) {
  .o-navbar {
    &__con {
      width: 1146px;
      margin: 0 auto;
    }
    &__menu {
      display: block;
    }
    &__btn {
      display: none;
    }
  }
}
