@import "../../scss/variables.scss";

.a-input {
  border: 1px solid $primaryTextColorOnDark;
  border-radius: $borderRadius;
  color: #fff;
  font-family: $secondaryFont;
  padding: 16px 15px;
  width: 100%;
  background-color: transparent;
  font-size: 20px;
  line-height: 30px;
  &::placeholder {
    color: $primaryTextColorOnDark;
    font-family: $secondaryFont;
  }
}

@media (min-width: 1440px) {
  .a-input {
    border: 0px;
    padding: 11px 8px;
    font-size: 18px;
    line-height: 27px;
  }
}
