.o-header {
  &__container {
    padding: 24px;
  }
  &__right {
    padding-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .o-header {
    &__container {
      padding: 103px 47px;
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__left {
      order: 1;
      padding-bottom: 20px;
      width: 443px;
    }
    &__right {
      order: 2;
      padding-bottom: 0px;
      margin-left: -40px;
    }
  }
} ;
