.m-footerLinksGroup {
  padding: 15.5px 0px;
  &__title {
    padding-bottom: 19px;
  }
  &__links {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .m-footerLinksGroup {
    padding: 15.5px 0px;
    margin-right: 20px;
    width: 90px;
    &__title {
      padding-bottom: 19px;
    }
    &__links {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: 1000px) {
  .m-footerLinksGroup {
    margin-right: 30px;
    width: 130px;
  }
}

@media (min-width: 1440px) {
  .m-footerLinksGroup {
    margin-right: 50px;
    width: 140px;
  }
}
