@import "../../scss/variables.scss";

.o-section {
  padding: 24px;
  position: relative;
  &--colored::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primaryColor;
    height: 497px;
    z-index: -1;
  }
}

.o-sectionWithVideo {
  &__text {
    padding-bottom: 65px;
  }
}

@media (min-width: 440px) {
  .o-section {
    &__con {
      max-width: 410px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 768px) {
  .o-section {
    &__con {
      max-width: 900px;
      margin: 0 auto;
    }
    &--colored::before {
      height: 611px;
    }
  }
}

@media (min-width: 1000px) {
  .o-section {
    &--colored::before {
      height: 641px;
    }
  }
  .o-sectionWithVideo {
    &__text {
      text-align: center;
    }
    &__video {
      padding: 0px 60px 151px;
    }
  }
}

@media (min-width: 1440px) {
  .o-section {
    padding: 40px;
    &__con {
      max-width: 1110px;
    }
    &--colored::before {
      height: 811px;
    }
  }

  .o-sectionWithVideo {
    &__text {
      padding-bottom: 46px;
      width: 839px;
      margin: 0 auto;
    }
  }
} ;
