//Fonts
$primaryFont: Rozha One, serif;
$secondaryFont: Reem Kufi, sans-serif;

//Colors
$primaryColor: #fabd20;
$primaryTextColor: #131e07;
$secondaryTextColor: #40462f;
$primaryTextColorOnDark: #7c8176;
$secondaryTextColorOnDark: #e5e5e5;
$roundButtonColor: #fef4e6cc;
$backgroundColor: #e5e5e5;

//Sizes
$mobileContainerSize: 327px;
$desktopContainerSize: 1240px;
$borderRadius: 8px;
